body {
  background-color: #eeeeee !important;
}

.login-style {
  background-color: white;
  padding: 50px;
  /* margin-top: 70px; */
  /* border-radius: 2px; */
  border-bottom-left-radius: 10% 220px;
  border-top-left-radius: 10% 220px;
  border: 1px solid #17a2b8;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.butn-success:hover {
  color: #28a745 !important;
}

.butn-danger:hover {
  color: #dc3545;
}

.butn-success {
  color: #007bff;
}

.butn-danger {
  color: #dc3545;
}

.butn-success,
.butn-danger {
  cursor: pointer;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-img-top {
  box-shadow: 0px 0px 1px 0px black;
  display: block;
  width: 100%;
  height: auto;
}

.card-style {
  padding: 0px 5px 0px 5px !important;
  margin: 0px 20px 20px 0px !important;
  font-size: 14px !important;
}

.card-style:hover,
.card-style:focus {
  transform: scale3d(1.055, 1.055, 1.055);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.card-style::after {
  opacity: 1;
}

.box-style {
  padding: 5px !important;
}

.label-p {
  padding: 0 !important;
  padding-top: 6px !important;
  color: #818182 !important;
}

.span-style {
  color: rgb(253, 253, 255) !important;
}

.in-style {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.in-style:hover {
  border: none;
  border-bottom: 1px solid #818182;
  box-shadow: 0px 0px 1px 0px black;
  border-radius: 2px;
}

.block {
  width: 100px;
  float: left !important;
  display: inline-block;
  zoom: 1;
}

.btn-style {
  width: 100% !important;
  border-radius: 0px !important;
}

.form-box-style {
  padding: 5px !important;
}

.expandable {
  display: none;
  width: 100% !important;
}

.expand:hover+.expandable {
  display: inline !important;
  width: 100% !important;
  opacity: 1;
}

.card-style {
  background-color: #fff;
}

.expandable:hover {
  display: inline !important;
  width: 100% !important;
}

.e-style:hover,
.c-style:hover {
  color: black;
}

.nav-box {
  position: relative;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition: 0.5s;
}

.nav-box:hover {
  border: 2px solid rgba(0, 160, 80, 0);
}

.nav-box::before,
.nav-box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.curmudgeon::before {
  border-bottom: 3px solid #FFF;
  border-left: 0;
  -webkit-transform-origin: 0% 100%;
}

.curmudgeon::after {
  border-top: 0;
  border-right: 0;
  -webkit-transform-origin: 50% 50%;
}

.nav-box:hover::after,
.nav-box:hover::before {
  -webkit-transform: scale(1);
}

.card-box {
  position: relative;
  vertical-align: middle;
  color: #0b7;
  display: inline-block;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition: 0.5s;
}

.card-box:hover {
  border: 2px solid #17a2b8;
  color: #17a2B8;
  /* border: 2px solid red; */
}

.card-box::before,
.card-box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(1);
  transition: 0.8s;
}

.card-foo::before {
  border-bottom: 2px solid #0b7;
  border-left: 2px solid #0b7;
  -webkit-transform-origin: 0 100%;
}

.card-foo::after {
  border-top: 2px solid #0b7;
  border-right: 2px solid #0b7;
  -webkit-transform-origin: 100% 0%;
}

.card-box:hover::after,
.card-box:hover::before {
  -webkit-transform: scale(0);
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 55px !important;
}

.form-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  width: 100% !important;
  word-wrap: break-word;
  background-color: #fff0;
  background-clip: border-box;
  border: 1px solid rgb(23, 162, 184);
  border-radius: 0.25rem;
  box-shadow: inset 0 0px 0px 0 rgba(0, 0, 0, .2), inset 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.emp-win {
  padding-right: 125px;
  color: #28a745;
}

.con-style {
  margin-left: 225px;
}

.col-top1,
.col-top2 {
  margin-top: 55px;
}

@media (max-width: 991px) {
  .col-top2 {
    margin-top: 0px;
  }
}

@media (max-width: 414px) {
  .card {
    width: 48% !important;
    margin: 0px 2px 2px 0px !important;
  }

  .emp-win {
    padding-right: 125px;
  }

  .form-card {
    width: 100% !important;
    margin: 12px 2px 2px 0px !important;
  }

  .col-top1 {
    background-color: #dddddd5e !important;
  }

  .second-nav {
    color: black;
  }

  .any-hiden {
    display: none;
  }

  .filter-hiden-de {
    display: none;
  }
}

@media (min-width: 415px) {
  .filter-hiden-mo {
    display: none;
  }
}

@media (max-width: 375px) {
  .card {
    width: 48% !important;
    margin: 0px 2px 2px 0px !important;
  }

  .emp-win {
    padding-right: 110px;
  }

  .form-card {
    width: 100% !important;
    margin: 0px 2px 2px 0px !important;
  }

  .col-top1 {
    background-color: #dddddd5e !important;
  }

  .any-hiden {
    display: none;
  }

  .filter-hiden-de {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}

.btn-outline-success {
  color: #28a745 !important;
  border-color: #28a745 !important;
}

.btn-outline-success:hover {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #ffffff;
}

.navbar-custom {
  background: -webkit-linear-gradient(left, #17a2b8, #00c6ff);
  border-bottom-left-radius: 0% 0%;
  border-bottom-right-radius: 0% 0%;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgb(255, 255, 255);
}

.navbar-custom .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #fff7f7;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}

.help-block {
  color: red;
}

.profile-style {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

.profile-style:hover .overlay {
  opacity: 1;
}

.filter-style {
  background-color: #e9ecef00 !important;
  border: none !important;
  border-bottom: 1px solid #ced4da !important;
  /* border-radius: 0rem; */
}

.filter-input-style {
  background-color: #e9ecef00 !important;
  border: none !important;
  border-bottom: 1px solid #ced4da !important;
}

@media (min-width: 992px) {
  .hide-filter {
    display: none;
  }
}

@media (max-width: 991px) {
  .col-top2 {
    margin-top: 53px !important;
  }
}

.trip-card {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}