body {
  background-color: #2575c5 !important;
  background-image: url('');
}


.butn-success:hover {
  color: #28a745 !important;
}

.butn-danger:hover {
  color: #dc3545;
}

.butn-success {
  color: #007bff;
}

.butn-danger {
  color: #dc3545;
}

.butn-success, .butn-danger {
  cursor: pointer;
}

.card {
  background-color: #fff0;
}

.card-body {
  padding: 0.25rem !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-img-top {
  box-shadow: 0px 0px 1px 0px black;
  /* padding: 5px; */
}

.card-style {
  padding: 0px 5px 0px 5px !important;
  /* padding-top: none !important; */
  margin: 0px 20px 20px 0px !important;
  font-size: 14px !important;
  /* box-shadow: 0px 0px 2px 0px black; */
}

.card-style:hover {
  box-shadow: 0px 0px 1px 1px black;
  /* border: 1px solid; */
}

.box-style {
  padding: 5px !important;
  /* margin: 0px 20px 20px 0px !important; */
  /* font-size: 14px !important; */
  /* box-shadow: 0px 0px 2px 0px black; */
}

.label-p {
  padding: 0 !important;
  padding-top: 6px !important;
  color: #818182 !important;
}

.span-style {
  color: rgb(26, 70, 167) !important;
}

.in-style {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.in-style:hover {
  border: none;
  border-bottom: 1px solid #818182;
  box-shadow: 0px 0px 1px 0px black;
  border-radius: 2px;
}

.block {
  width: 100px;
  float: left !important;
  display: inline-block;
  zoom: 1;
}

.btn-style {
  width: 100% !important;
  border-radius: 0px !important;
}

.form-box-style {
  padding: 5px !important;
}

/* .flowingdown {
  transition: height 1s;
  -webkit-transition: height 1s;
} */

/* .flowingdown:hover {
  height: 168px;
  width: 100%;
} */

.expandable {
  display: none;
  width: 100% !important;
}

.expand:hover+.expandable {
  display: inline !important;
  width: 100% !important;
}

.card-style:hover {
  background-color: #fff;
}

.expandable:hover {
  display: inline !important;
  width: 100% !important;
  /* transition: height 1s; */
  /* -webkit-transition: height 1s; */
}

.e-style:hover, .c-style:hover {
  color: black;
}

.sidenav {
  height: 100%;
  /* width: 160px; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  padding-top: 55px !important;
}

/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #e3f2fd;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
  /* 	background-color: #000000; */
  background-color: #e3f2fd;
  background-image: -webkit-gradient( linear, 0 0, 0 100%, color-stop(0.5, #e3f2fd), color-stop(0.5, transparent), to(transparent));
}

/* .nav-link {
  display: block;
  padding: 0.5rem 0rem !important;
} */

.form-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  width: 100% !important;
  word-wrap: break-word;
  background-color: #fff0;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.emp-win {
  padding-right: 135px;
  color: #28a745;
}

.con-style {
  margin-left: 225px;
}

.col-top1, .col-top2 {
  margin-top: 55px;
}

@media (max-width: 991px) {
  .col-top2 {
    margin-top: 0px;
  }
}

@media (max-width: 414px) {
  .card {
    width: 48% !important;
    margin: 0px 2px 2px 0px !important;
  }
  .emp-win {
    padding-right: 127px;
  }
  .form-card {
    width: 100% !important;
    margin: 0px 2px 2px 0px !important;
  }
  .col-top1 {
    background-color: #dddddd5e !important;
  }
  .second-nav {
    color: black;
  }
  /* .form-card-hiden {
    display: none;
  } */
  .any-hiden {
    display: none;
  }
  .filter-hiden-de {
    display: none;
  }
}

@media (min-width: 415px) {
  /* .form-card-hiden1 {
    display: none;
  } */
  .filter-hiden-mo {
    display: none;
  }
}

@media (max-width: 375px) {
  .card {
    width: 48% !important;
    margin: 0px 2px 2px 0px !important;
  }
  .emp-win {
    padding-right: 110px;
  }
  .form-card {
    width: 100% !important;
    margin: 0px 2px 2px 0px !important;
  }
  .col-top1 {
    background-color: #dddddd5e !important;
  }
  /* .form-card-hiden {
    display: none;
  } */
  .any-hiden {
    display: none;
  }
  .filter-hiden-de {
    display: none;
  }
}

/* @media (max-width: 352px) {
  .card {
    width: 100% !important;
  }
} */

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .col-top1 {
    border-right: 1px solid black;
  }
}

/* body {
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
} */

.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 0px auto;
}

.avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.pro-style {
  display: none;
}

.avatar-edit, .pro-style+label {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-edit, .pro-style+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-edit, .pro-style+label:after {
  content: '\f040';
  font-family: 'FontAwesome';
  color: #757575;
  position: inherit;
  top: 45px;
  left: 145px;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #17a2b8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview:hover {
  border: 6px solid #dc3545;
}

.avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-outline-success {
  color: #28a745 !important;
  border-color: #28a745 !important;
}

.btn-outline-success:hover {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #ffffff;
}

.navbar-custom {
  /* background-color: #17a2b8; */
  /* position: relative; */
  /* height: 300px; */
  background-image: linear-gradient(#b81717, #176ab8);
  border-bottom-left-radius: 0% 0%;
  border-bottom-right-radius: 0% 0%;
}

/* change the brand and text color */

.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
  color: rgb(255, 255, 255);
}

/* change the link color */

.navbar-custom .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
  color: #fff7f7;
}

.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}

.help-block {
  color: red;
}