<div ng-controller="EmployeesListController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-top1" id="style-3" style="border-bottom: 1px solid #e5e5e5; background-color: #17a2b8; color: white !important;">
                <nav class="navbar navbar-expand-lg navbar-light second-nav" style="padding: 0px !important;">
                    <span class="navbar-brand filter-hiden-mo" href="#">
                        <!-- Filters ... -->
                        <div class=" form-row navbar-brand form-box-style" style="width: 100%;">
                            <div class="col">
                                <input class="form-control form-control-sm in-style" id="inputName" type="text"
                                    ng-model="searchtxt" placeholder="Search Any ...." required>
                            </div>
                        </div>
                    </span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarWEX"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        style="background-color: white;">
                        <i class=" fa fa-filter" aria-hidden="true"></i>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarWEX">
                        <div class="nav flex-sm-column flex-row">
                            <div class="nav-item nav-link active filter-hiden-de">
                                <h5>Filters ...</h5>
                            </div>
                            <div class="form-group nav-item nav-link">
                                <label for="">
                                    Name:
                                </label>
                                <input class="
                                form-control-sm in-style" id="inputName"
                                    style="width:100%;" type="text" ng-model="searchtxt.name" placeholder="Search Name ....."
                                    required>
                            </div>

                            <div class="form-group nav-item nav-link">
                                <label for="">Dep:</label>
                                <select id="inputDep" ng-model="searchtxt.dep" class="in-style form-control-sm" style="background-color: white; width: 100% !important;"
                                    placeholder="Search Dep ...">
                                    <option ng-repeat="department in departments" value="{{department._id}}">{{department.dep}}</option>
                                </select>
                            </div>
                            <div class=" form-group nav-item nav-link">
                                <label for="">
                                    Id:
                                </label>
                                <input class="
                                form-control-sm in-style" style="width: 100%;"
                                    id="inputName" type="text" ng-model="searchtxt.id" placeholder="Search Id ....."
                                    required>
                            </div>
                            <div class="form-group nav-item nav-link">
                                <label for="">Age:</label>
                                <input class="form-control-sm in-style" style="width: 100%;" id="inputName" type="text"
                                    ng-model="searchtxt.age" placeholder="Search Age ....." required>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col py-2 col-top2">
                <div>
                    <div class=" form-row navbar-brand any-hiden form-box-style" style="width: 100%;">
                        <div class="col">
                            <input class="form-control form-control-sm in-style" id="inputName" type="text" ng-model="searchtxt"
                                placeholder="Search Any ...." required>
                        </div>
                    </div>
                </div>


                <div class="add-card"></div>
                <div ng-repeat="employee in employees | filter: searchtxt">
                    <div class="card block card-style" style="width: 12rem;">
                        <div>
                            <span class="emp-win">
                                <span>
                                    {{$index + 1}}
                                </span>
                            </span>
                            <span class="butn-success">
                                <i class="fa fa-pencil-square-o e-style" aria-hidden="true" ng-click="empEdit(employee._id)"
                                    ui-sref="editEmp"></i>
                            </span>
                            <span class="butn-danger">
                                <i class="fa fa-window-close-o c-style" aria-hidden="true" ng-click="empRemove(employee._id)"></i>
                            </span>
                        </div>
                        <img class="card-img-top" src="../img/img_avatar1.png" alt="Card image cap">
                        <h5 class="card-title">{{employee.name | uppercase}}</h5>
                        <hr style="margin: 0px !important;">
                        <div class="expand">
                            <label for="inputId" class="col-form-label label-p">Name<span class="span-style">:
                                </span> </label>
                            <span class="card-text">{{employee.name}}</span><br>
                            <label for="inputId" class="col-form-label label-p">DEP <span class="span-style">:
                                </span> </label>
                            <span class="card-text">{{employee.dep}}</span><br>
                            <label for="inputId" class="col-form-label label-p">Id<span class="span-style">: </span>
                            </label>
                            <span class="card-text">{{employee.id}}</span><br>
                        </div>
                        <div class="expandable">
                            <label for="inputId" class="col-form-label label-p">Date.O.B<span class="span-style">:
                                </span></label>
                            <span class="card-text">{{employee.dob | date : "dd.MM.y"}}</span><br>
                            <label for="inputId" class="col-form-label label-p">Date.O.J<span class="span-style">:
                                </span></label>
                            <span class="card-text">{{employee.doj | date : "dd.MM.y"}}</span><br>
                            <label for="inputId" class="col-form-label label-p">Gander<span class="span-style">:
                                </span></label>
                            <span class="card-text">{{employee.gender}}</span><br>
                            <label for="inputId" class="col-form-label label-p">MobileNo<span class="span-style">:
                                </span></label>
                            <span class="card-text">{{employee.mobileno}}</span><br>
                            <label for="inputId" class="col-form-label label-p">Age<span class="span-style">:
                                </span></label>
                            <span class="card-text">{{employee.age}}</span><br>
                            <label for="inputId" class="col-form-label label-p">Salary<span class="span-style">:
                                </span></label>
                            <span class="card-text">{{employee.salary}}</span>
                        </div>
                        <div style="text-align: right;">
                            <i class="fa fa-angle-double-down" style="color:#17a2b8;" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <ul>
        <li ng-repeat="department in departments">
            {{department.dep}}
        </li>
    </ul> -->
</div>