<div ng-controller="EmployeesListController">
    <div class="container-fluid">
        <div class="row">
            <div class="col py-2">
                <div>
                    <div class=" form-row navbar-brand any-hiden form-box-style" style="width: 100%;">
                        <div class="col">
                            <input class="form-control form-control-sm in-style hide-filter" id="inputName" type="text"
                                ng-model="searchtxt" placeholder="Search Any ...." required>
                        </div>
                    </div>
                </div>


                <div class="add-card"></div>
                <div ng-repeat="employee in employees | filter: searchtxt">
                    <div id="card-conexp">
                        <div class="card block card-style card-exp card-box card-foo" style="width: 12rem;">
                            <div>
                                <span class="emp-win">
                                    <span>
                                        {{$index + 1}}
                                    </span>
                                </span>
                                <span class="butn-success">
                                    <i class="fa fa-pencil-square-o e-style" aria-hidden="true" ng-click="empEdit(employee._id)"
                                        ui-sref="editEmp"></i>
                                </span>
                                <span class="butn-danger">
                                    <i class="fa fa-window-close-o c-style" aria-hidden="true" ng-click="empRemove(employee._id)"></i>
                                </span>
                            </div>
                            <div class="profile-style">
                                <img class="card-img-top" src="../img/img_avatar1.png" alt="Card image cap">
                                <span class="overlay"> </span>
                            </div>
                            <hr style="margin: 0px !important;">
                            <div class="expand">
                                <label for="inputId" class="col-form-label label-p">Name<span class="span-style">:
                                    </span> </label>
                                <span class="card-text">{{employee.username}}</span><br>
                                <label for="inputId" class="col-form-label label-p">Password<span class="span-style">:
                                    </span> </label>
                                <span class="card-text">{{employee.password}}</span><br>
                                <label for="inputId" class="col-form-label label-p">DEP <span class="span-style">:
                                    </span> </label>
                                <span class="card-text">{{employee.dep}}</span><br>
                                <label for="inputId" class="col-form-label label-p">Id<span class="span-style">: </span>
                                </label>
                                <span class="card-text">{{employee.id}}</span><br>
                            </div>
                            <div class="expandable">
                                <label for="inputId" class="col-form-label label-p">Date.O.B<span class="span-style">:
                                    </span></label>
                                <span class="card-text">{{employee.dob | date : "dd.MM.y"}}</span><br>
                                <label for="inputId" class="col-form-label label-p">Date.O.J<span class="span-style">:
                                    </span></label>
                                <span class="card-text">{{employee.doj | date : "dd.MM.y"}}</span><br>
                                <label for="inputId" class="col-form-label label-p">Gander<span class="span-style">:
                                    </span></label>
                                <span class="card-text">{{employee.gender}}</span><br>
                                <label for="inputId" class="col-form-label label-p">MobileNo<span class="span-style">:
                                    </span></label>
                                <span class="card-text">{{employee.mobileno}}</span><br>
                                <label for="inputId" class="col-form-label label-p">Age<span class="span-style">:
                                    </span></label>
                                <span class="card-text">{{employee.age}}</span><br>
                                <label for="inputId" class="col-form-label label-p">Salary<span class="span-style">:
                                    </span></label>
                                <span class="card-text">{{employee.salary}}</span>
                            </div>
                            <div style="text-align: right;">
                                <i class="fa fa-angle-double-down expand" style="color:#17a2b8;" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <ul>
        <li ng-repeat="department in departments">
            {{department.dep}}
        </li>
    </ul> -->

    <!-- <ul>
        <li ng-repeat="employee in employees">
            {{employee.dep}}
        </li>
    </ul> -->
</div>