<!-- <div class="container">
        <div class="row">
            <div class="col">
                <form ng-submit="EmpFormSubmit()">
                    <div class="form-row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm in-style" id="inputName" type="text" ng-model="employeeData.name"
                                placeholder="Enter Name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputDep" class="col-sm-2 col-form-label">DEP:</label>
                        <div class="col-sm-10">
                            <select id="inputDep" ng-model="employeeData.dep" class="form-control in-style form-control-sm"
                                placeholder="Choose Dep ...">
                                <option value="mg">MG</option>
                                <option value="hr">HR</option>
                                <option value="soft">Soft</option>
                                <option value="ts">TS</option>
                                <option value="cs">CS</option>
                                <option value="cl">CL</option>
                                <option value="tr">TR</option>
                                <option value="ad">AD</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputId" class="col-sm-2 col-form-label">Id:</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm in-style" id="inputId" type="text" ng-model="employeeData.id"
                                placeholder="Enter ID" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputDob" class="col-sm-2 col-form-label">Date.O.B:</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm in-style" id="inputDob" type="date" ng-model="employeeData.dob"
                                ng-bind="calculateAge(employeeData.dob)" placeholder="Enter Date of B..." required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputDoj" class="col-sm-2 col-form-label">Date.O.J:</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm in-style" id="inputDoj" type="date" ng-model="employeeData.doj"
                                ng-bind="employeeData.doj" placeholder="Enter Date of J..." required>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Gender: </legend>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" ng-model="employeeData.gender" name="gridRadios"
                                        value="male" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" ng-model="employeeData.gender" type="radio" name="gridRadios"
                                        value="female">
                                    <label class="form-check-label" for="gridRadios2">
                                        FeMale
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-row">
                        <label for="inputMobileNo" class="col-sm-2 col-form-label">MobileNo:</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm in-style" id="inputMobileNo" type="number"
                                ng-model="employeeData.mobileno" placeholder="Enter MobileNo" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputAge" class="col-sm-2 col-form-label">AGE:</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm in-style" id="inputAge" type="number" ng-model="employeeData.age"
                                placeholder="Enter Age" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputSalary" class="col-sm-2 col-form-label">Salary:</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm in-style" id="inputSalary" type="text" ng-model="employeeData.salary"
                                placeholder="Enter salary" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputImage" class="col-sm-2 col-form-label">Image:</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1" ng-model="employeeData.image"
                                ng-click="uploadFile()">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button style="text-align: right;" class="btn btn-success" type="submit" id="submit" value="Add">Add</button>
                            <button style="text-align: right;" class="btn btn-danger" type="reset" ng-click="resetForm()"
                                value="Reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

<!-- <hr> -->
<!-- <div ng-controller="EmployeesListController"> -->
<!-- <div class="container">
        <div class="row">
            <div class="col">
                <div style="text-align: right;">
                    <span style="color:#28a745;">{{employees.length}}</span> Remaining
                    <span style="color:#dc3545;cursor: pointer;">
                        <i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteAll()"></i>
                    </span>
                </div>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Sno.</th>
                            <th scope="col">Name</th>
                            <th scope="col">DEP</th>
                            <th scope="col">Id</th>
                            <th scope="col">Date.O.B</th>
                            <th scope="col">Date.o.J</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Age</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in employees">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{employee.name}}</td>
                            <td>{{employee.dep}}</td>
                            <td>{{employee.id}}</td>
                            <td>{{employee.dob | date : "dd.MM.y"}}</td>
                            <td>{{employee.doj | date : "dd.MM.y"}}</td>
                            <td>{{employee.gender}}</td>
                            <td>{{employee.mobileno}}</td>
                            <td>{{employee.age}}</td>
                            <td>{{employee.salary}}</td>
                            <td>
                                <span class="butn-success">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="empEdit(employee._id)"></i>
                                </span>
                            </td>
                            <td>
                                <span class="butn-danger">
                                    <i class="fa fa-times" aria-hidden="true" ng-click="empRemove(employee._id)"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->