<div ng-controller="TripesListController" ng-init="tripEdit();">
    <div class="container-fluid">
        <div class="row" style="margin-top: 55px;">
            <!-- <div class="tf-style"> -->
            <div class="col-12">
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Date</label>
                        <input ng-model="tripData.date" type="date" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Truck Number*</label>
                        <input ng-model="tripData.truckNumber" type="text" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Dispatch Date</label>
                        <input ng-model="tripData.dispatchDate" type="date" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Driver Number</label>
                        <input ng-model="tripData.driverNumber" type="number" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Lr Number</label>
                        <input ng-model="tripData.lrNumber" type="text" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Destination</label>
                        <input ng-model="tripData.destination" type="text" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Party Name</label>
                        <input ng-model="tripData.partyName" type="text" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Party Phone Number</label>
                        <input ng-model="tripData.partyPhoneNumber" type="number" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Unloading Date</label>
                        <input ng-model="tripData.unloadingDate" type="date" class="form-control custom-form-control">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="">
                    <div class="mb-0 ">
                        <label class="focus-effect-for-input" aria-hidden="true">Unloading Points</label>

                        <div ng-repeat="trip in tripData.unloadingPoints track by $index" class="form-group pl4-pr0 styling-input-list position-relative p-0">
                            <div class="col-md-10 p-0">
                                <input ng-model="trip.name" type="text" class="form-control custom-form-control" id="name">
                            </div>
                            <div class="plus">
                                <button type="button" class="btn btn-info btn-sm" ng-click="addNewChoice()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="minus">
                                <button class="btn btn-danger btn-sm" ng-show="$index>=1" ng-click="deleteToCitys($index)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Quantity</label>
                        <input ng-model="tripData.quantity" type="text" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Freight Per Mt</label>
                        <input ng-model="tripData.freightPerMt" type="number" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Unloading Charges</label>
                        <input ng-model="tripData.unloadingCharges" type="number" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Total Amount Paid</label>
                        <input ng-model="tripData.totalAmountPaid" type="number" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Invioce Amount</label>
                        <input ng-model="tripData.invoiceAmount" type="number" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">Profit/Loss</label>
                        <input ng-model="tripData.profitOrLoss" type="number" class="form-control custom-form-control">
                    </div>
                </div>
                <div class="form-group  ">
                    <div class="styling-input-list">
                        <label class="focus-effect-for-input" aria-hidden="true">FileUpload</label>
                        <!--<customized-file-upload ng-model="files" folder="'jobs'"-->
                        <!--class="'custom-form-control'">-->
                        <!--</customized-file-upload>-->
                        <div class="position-relative">
                            <div class="col-md-10">
                                <input ng-model="file" type="file" class="form-control custom-form-control" ngf-select
                                    ng-change="fileUpload(file)">
                                <button ng-click="fileUpload(tripData.file)">subit</button>
                            </div>
                            <div class="fileUploadPlus" ng-show="$last">
                                <button type="button" class="btn btn-info btn-sm" ng-click="addNewFile()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>


                            <div class="fileUploadMinus">
                                <button class="btn btn-danger btn-sm" ng-show="!$last" ng-click="deleteToCitys($index)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-group btn-group-lg" style="width: 100%;">
                    <button style="text-align: center;" class="btn btn-outline-success btn-style" type="submit" id="submit"
                        value="addTrip" ng-click="TripFormSubmit()">Add Trip
                    </button>
                    <button style="text-align: center;" class="btn btn-outline-danger btn-style" type="reset" ng-click="resetForm()"
                        value="Reset">Reset
                    </button>
                </div>
            </div>
            <!-- </div> -->

        </div>
    </div>
</div>